@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{font-family: 'Noto Sans KR', sans-serif; color:#666; font-size:15px }
.row{max-width: 1200px; margin:0 auto; padding:0 10px }
/* #header { position:relative } */
#header.on {
    position: fixed; width: 100%; background: #fff; 
    top: 0; left: 0; z-index: 9999;
}
#header.on .top_menu { display: none; }
#header .top_menu { background:#f3f3f3; color:#999; font-size:12px; text-align:right; transition: all 0.5s; }
#header .top_menu a { padding:7px 20px; display:inline-block; border-right:1px solid #e3e3e3; }
#header .top_menu a:nth-of-type(1) { border-left:1px solid #e3e3e3; }
#header .top_menu a:hover { color: #dbb075; }
/* 검색창 */
#header .search {
    position:absolute; 
    right:320px;
    top:50%; 
    transform:translateY(-50%)
}
#header .search #sbox { border:none; text-indent:1em; width:0;  
    overflow:hidden; transition:all 0.5s;
    outline:none;
}
#header .search #sbox.on {
    width:169px;
}

/* 블록요소들을 한줄로 정렬하는 방법 : 
   1. 둘다 float정렬 : 부모한테 .cf나 overflow:hidden
   2. 둘 중에 높이가 낮은 자식을 position:absolute 정렬 : 부모한테 position:relative */
#header .row { position:relative; }
#header h1 { /* float:left;  */ padding:25px 0 }
#header .open,
#header .close { display:none }
#header #nav {  /* float:right; */ z-index:99999;
    position:absolute; top:50%; transform:translateY(-50%);
    right:0; font-size:18px; color:#1e1e1e; /* background:red; */ }
#header #nav .depth1 > li { float:left; position:relative; }
#header #nav .depth1 > li > a { padding:20px 40px; display:inline-block; }
#header #nav .depth1 > li:hover > a { color: #00529b; }
#header .depth2 { position:absolute; top:100%; left:0; 
    background:#555; font-size:14px;
    color:#fff; width:100%; text-align:center; 
    display:none; }
/* #header #nav .depth1 > li.on .depth2 { display:block; } */
#header .depth2 > li > a { padding:18px 0; display:block; 
    border-bottom:1px solid #999; }
#header .depth2 > li:last-child > a { border-bottom:none }
#header .depth2 > li:hover > a { background:#00529b; color:#dfe9fe }









#footer { margin-top:0px; background: #333;
    padding: 30px 0px; text-align: center;
    font-size: 12px; line-height: 18px;
    color:#ddd; }
#footer .sns a { font-size:14px; display:inline-block;
    width:32px; height:32px; line-height:32px;
    background:rgba(255,255,255,0.1);
    border-radius:50%;
    margin:0 5px; transition:all 0.3s }
#footer .sns a:hover {
    background:rgba(255,255,255,0.3);
}

#footer .info { padding:20px 0px }
#footer .info span { padding:5px 20px; }
#footer .privacy > a,
#footer .privacy > span
 {
    font-size:11px; padding:3px 10px;
    display:inline-block;
    border: 1px solid rgba(255,255,255,0.5);
    color:#bbb; transition:all 0.4s;
}
#footer .privacy > a:hover {
    background: #999;
    border: 1px solid #999;
    color: #FFF;
}
#footer .fam { position:relative; 
    cursor:pointer }
#footer .fam ul {
    position:absolute;
    bottom:100%; left:0;
    width:100%; padding:5px;
    background:#fff;
    color:#000;
    display:none;
}