@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.row { max-width: 1200px; margin: 0px auto; padding: 0px 10px;}
body { color: #666; font-family: 'Noto Sans KR', sans-serif; font-size: 15px;}


#header .outer {background: #f3f3f3;}
#header .outer .login {
    float: right;
    font-size: 12px;
    color: #999;
}
#header .outer .login a {
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid #e3e3e3;
}
#header .outer .login a:first-child {
    border-left: 1px solid #e3e3e3;
}
#header .outer .login a:hover {
    color: #dbb075;
}
#header > .row {position: relative; z-index: 999;}
#header h1 {padding: 25px 0px;}
#nav {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
#nav #depth1 > li {
    float: left;
    font-size: 18px;
    color: #1e1e1e;
    padding: 20px 40px; 
    position: relative;
}
#nav #depth1 > li:hover > a {
    color: #00529b;
}
#nav #depth1> li:hover > .depth2 {
    display: block;

} 
#nav .depth2 {
    position: absolute; top: 100%; left: 0%;
    background:#555;
    z-index: 999; width: 100%;
    text-align: center; color: #fff;
    font-size: 14px;
    display: none;
}
.depth2 a {
    display: block; width: 100%;
    padding: 18px 0px;
    border-bottom: 1px solid #999; 
}
#nav .depth2 li:hover > a {
    background: #00529b;
    color: #dfe9fe;
}



/* =====section 시작=========================================== */

/* ---article1-------------------- */
#article1 .slide1 {
    background: url(../img/main_img1.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
}
#article1 .slide2 {
    background: url(../img/main_img2.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
    display: none;
}
#article1 .slide3 {
    background: url(../img/main_img3.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
    display: none;
}
#article1 .text {
    position: absolute; left: 50%; top: 18%; 
    transform: translate(-50%);
    font-size: 16px;
    color: #fff;
    text-align: center;
}
#section #article1 .text > h2 {
    font-size: 42px;
    font-weight: bold;
}
#section #article1 .text > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 30px 0;
}

#article1 .text > a {
    display: inline-block;
    font-size: 15px;
    padding: 8px 35px;
    border: 1px solid #fff;
}
#article1 .text a:hover {
    background: rgba(255, 255, 255, 0.3);

}
/* ---article2-------------------- */
#article2 h2, #article4 h2  { 
    font-size: 36px; 
    font-weight: bold; 
    color: #000;
    padding-bottom: 15px;
}
#article2, #article4 {
    padding: 80px 0px; 
    text-align: center;
}
#article2 #imgs, #article4 #product {padding-top: 40px;}
#article2 #imgs .img {
    float: left; width: 25%;
    position: relative;
    height: 520px;
}
#article2 #imgs .img:nth-child(1) {
    background: url(../img/what1.jpg) no-repeat center;
}
#article2 #imgs .img:nth-child(2) {
    background: url(../img/what2.jpg) no-repeat center;
}
#article2 #imgs .img:nth-child(3) {
    background: url(../img/what3.jpg) no-repeat center;
}
#article2 #imgs .img:nth-child(4) {
    background: url(../img/what4.jpg) no-repeat center;
}
#article2 #imgs .textbox {
    position: absolute; bottom: 25px; left: 25px; right: 25px;
    text-align: left;
    color: #fff;
    line-height: 1.5;
}
#article2 #imgs .textbox h3 {
    font-size: 24px;
    padding-bottom: 30px;
    font-weight: bold;
}
#article2 #imgs .textbox a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 40px;
    margin-top: 20px;
}
#article2 .textbox a:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* ---article3-------------------- */
#article3 #bg {
    background: url(../img/intro_bg.jpg) no-repeat center top;
    background-size: auto; 
    background-attachment: fixed;
    height: 304px;
    position: relative;
}
#article3 #bg > div {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
#article3 #bg > div > p:first-child {
    font-size: 34px; 
    font-weight: bold;
    padding-bottom: 30px;
}
#article3 #bg > div > a {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 30px;
    border: 1px solid #fff;
    font-size: 13px;
}
#article3 #bg > div > a:hover {
    background: rgba(255, 255, 255, 0.3);
}
/* ---article4-------------------- */

#article4 #product .pimg {
    float: left; width: 32%;
    margin-right: 2%;
    border: 1px solid #999;
    margin-bottom: 20px;
}
#article4 #product .pimg:nth-child(3n) {margin-right: 0;}
#article4 #product .pimg div h4 {
    font-size: 17px;
    font-weight: bold;
    margin: 25px;
}
#article4 #product .pimg div p {
    font-size: 14px;
    margin: 25px;
    line-height: 1.5;
}
#article4 .pimg img {transition: 0.5s;}
#article4 .pimg img:hover {
    opacity: 0.6;
}



/* =====footer 시작=========================================== */
#footer {
    background: #333;
    color: #ddd;
    padding: 30px;
    text-align: center;
}
#footer > .icon {
    font-size: 14px;
    color: #fff;
}
#footer > .icon > a {
    padding: 0px 10px;
    display: inline-block;
    width: 32px; height: 32px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    line-height: 32px;
    transition: all 0.3s;
}
#footer > .icon > a:hover {
    background: rgba(255, 255, 255, 0.3);
}

#footer > .info {
    padding: 20px;
    font-size: 12px; 
}
#footer > .info  span {
    display: inline-block;
    padding: 0px 20px 5px 0px;
}

#footer > .company > a {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #ddd;
    margin-right: 5px;
    transition: all 0.4s;
}
#footer > .company> a:hover {
    background: #999;
    border: 1px solid #999;
    color: #FFF;
}

#top { 
    background: #000;
    width: 40px; height: 40px; 
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: fixed; bottom: 50px; right: 50px;
    padding: 5px;
}
#top span {display: block;}